.backgroundImage1{
    background-image: url("/assets/Gemini_Generated_Image_ygp6x5ygp6x5ygp6.png");
    background-attachment: fixed;
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
}
@media screen and (max-width:750px) {
    .backgroundImage1{
        background-size: 100vw 100vh;
       perspective: 600px;
       transform: perspective(600px)  scale(1);
    }
}
/* .box::before{
    content: "";
    width: 627px;
    height: 227px;
    background-color: black;
    opacity: 60%;
}
.box::before:hover{
    content: "  We are here to make it easier for you to select a PG with the highest number of data points in the Industry.";
} */